<?xml version="1.0"?>

<launch>
	<arg name="use_yolo" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="image_topic_name" default="/kinect/qhd/image_color_rect"/>
	<arg name="launch_feed_recorder" default="true"/>
	<arg name="data_directory" default="../tmp"/>
	<arg name="classnames_filename" default="/media/psf/srinjoymajumdar/ROS_VM/code/gaze_tracking/villa/model.names" />
        <arg name="cfg_filename" default="/media/psf/srinjoymajumdar/ROS_VM/gaze_tracking/villa/model.cfg" />
        <arg name="weight_filename" default="/media/psf/srinjoymajumdar/ROS_VM/gaze_tracking/villa/model.weights" />

	<param name="image_topic_name" value="$(arg image_topic_name)"/>
	<param name="object_detector_data_dir" value="$(arg data_directory)"/>

	<node name="object_detector_bridge" pkg="object_detector" type="gaze_predict_wrapper.py" output="screen" cwd="node">
		<param name="use_yolo" value="$(arg use_yolo)"/>
	</node>

	<group if="$(arg launch_feed_recorder)">
		<node name="feed_recorder_query" pkg="object_detector" type="feed_recorder.py" output="screen" cwd="node"></node>
	</group>
	
	<node name="gaze_study_query" pkg="object_detector" type="gaze_predict_service.py" output="screen" cwd="node"></node>
	<node name="face_detector" pkg="object_detector" type="face_detector.py" output="screen" cwd="node"></node>

	<group if="$(arg use_yolo)">

		<include file="$(find rail_object_detector)/launch/darknet.launch">
			<arg name="publish_detections_topic" value="true"/>
			<arg name="use_scene_service" value="false"/>
			<arg name="use_image_service" value="true"/>
			<arg name="classnames_filename" value="$(arg classnames_filename)"/>
			<arg name="cfg_filename" value="$(arg cfg_filename)"/>
			<arg name="weight_filename" value="$(arg weight_filename)"/>
			<arg name="image_sub_topic_name" value="$(arg image_topic_name)"/>
		</include>

	</group>

	<group if="$(arg gui)">
		<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
		<node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen" cwd="node"></node>
	</group>
</launch>
